:root {
  /**
   * @prop --lids-icon-svg-stroke-width: stroke width.
   */
  --lids-icon-stroke-width: var(--lids-size-icon-stroke-width, 0.5px);
}

:host {
  display: inline-block;
  line-height: var(--lids-line-height-medium, 1.5);
}
:host svg {
  stroke-width: var(--lids-icon-stroke-width, 0.5px);
}
:host path {
  fill: currentColor;
  stroke: currentColor;
}