:root {
  // --lids-font-family-heading: 'Nunito Sans', arial;
  // --lids-font-family-text: 'Nunito Sans', arial;
  --lids-letter-spacing-heading: -0.01rem;
  --lids-font-weight-extra-light: 200;
  --lids-font-weight-light: 300;
  --lids-font-weight-regular: 400;
  --lids-font-weight-medium: 500;
  --lids-font-weight-semi-bold: 600;
  --lids-font-weight-extra-bold: 800;
  --lids-font-size-x-small: 0.75rem;
  --lids-font-size-small: 0.875rem;
  --lids-font-size-medium: 1rem;
  --lids-font-size-large: 1.25rem;
  --lids-font-size-x-large: 1.5rem;
  --lids-font-size-xx-large: 2.25rem;
  --lids-font-size-xxx-large: 3rem;
  --lids-font-size-xxxx-large: 4.5rem;
}
