:root {
  --lids-size-icon-xxx-small: 7px;
  --lids-size-icon-xx-small: 10px;
  --lids-size-icon-x-small: 16px;
  --lids-size-icon-small: 20px;
  --lids-size-icon-medium: 24px;
  --lids-size-icon-large: 30px;
  --lids-size-icon-x-large: 36px;
  --lids-size-icon-xx-large: 48px;
  --lids-size-icon-xxx-large: 72px;
  --lids-size-icon-stroke-width: 0.5px;
  --lids-size-form-border: 1px;
  --lids-size-button-border: 2px;
}
