:root {
  --lids-space-xxx-small: 0.125rem; // 2px in default font size
  --lids-space-xx-small: 0.25rem; // 4px in default font size
  --lids-space-x-small: 0.5rem; // 8px in default font size
  --lids-space-small: 0.75rem; // 12px in default font size
  --lids-space-medium: 1rem; // 16px in default font size
  --lids-space-large: 1.25rem; // 20px in default font size
  --lids-space-x-large: 1.75rem; // 28px in default font size
  --lids-space-xx-large: 2.25rem; // 36px in default font size
  --lids-space-xxx-large: 3rem; // 48px in default font size
  --lids-space-xxxx-large: 4.5rem; // 72px in default font size
}
