:root {
  --lids-transition-very-quickly: 100ms ease;
  --lids-transition-quickly: 200ms ease;
  --lids-transition-moderately-quickly: 300ms ease;
  --lids-transition-moderately-slowly: 400ms ease;
  --lids-transition-slowly: 500ms ease;
  --lids-transition-very-slowly: 600ms ease;
}
