:host {
  display: block;
}
:host .lids-search-form {
  display: inline-flex;
}
:host .lids-search-form-input,
:host .lids-search-form-submit {
  padding: var(--lids-space-medium);
  border-radius: var(--lids-radius-default);
  box-shadow: 0 0 4px 0 var(--lids-color-gray-lighter);
}
:host .lids-search-form-input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border: none;
  outline: none;
}
:host .lids-search-form-submit {
  background-color: var(--lids-color-purple);
  color: var(--lids-color-white);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  cursor: pointer;
  border: 1px solid var(--lids-color-purple);
  border-left: none;
}
:host .lids-search-form-submit:hover {
  background-color: var(--lids-color-purple-dark);
  border-color: var(--lids-color-purple-dark);
}
:host .lids-search-form-submit:focus {
  background-color: var(--lids-color-purple-darker);
  border-color: var(--lids-color-purple-darker);
}
:host .lids-search-form-submit:active {
  background-color: var(--lids-color-purple-darkest);
  border-color: var(--lids-color-purple-darkest);
}